<launch>
    <!--run demo bag-->
    
    <include file="$(find vins_estimator)/launch/nrsl_d435i.launch" />
    <include file="$(find act_map_ros)/launch/nrsl_d435i.launch" />
    <include file="$(find view_controller)/launch/view_controller.launch" />
    <include file="$(find active_slam)/launch/active_slam.launch" />

    <include file="$(find navigation)/launch/rviz.launch" />
</launch>