<launch>
    <include file="$(find act_map_ros)/launch/trace_map_full_euroc.launch" />
    <include file="$(find view_controller)/launch/view_controller.launch" />
    <node name="active_localization_node" pkg="active_localization" type="active_localization_node" output="screen">
    </node>
</launch>
